.footer {
  border-top: 1px dashed rgb(168, 163, 163);

  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 120px;
}

.footerContainer {
  width: 80%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  /* background-color: aqua; */
}

@media (max-width: 700px) {
  .footer {
    margin-left: auto;
    margin-top: 120px;
  }
  .footerContainer {
    flex-direction: column;
  }
}
