.footer {
  border-top: 2.5px dashed rgb(19, 86, 37);

  background-color: rgb(19, 86, 37);
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 120px;
  /* margin-bottom: 50px; */
  padding-bottom: 40px;
}

.footerContainer {
  /* margin-top: 0px; */
  width: 80%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  /* background-color: aqua; */
}
.footerElements {
  font-size: 20px;
  color: white;
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin-right: 80px;
}
.news {
  margin-top: 50px;
}

@media (max-width: 700px) {
  .footer {
    margin-left: auto;
    margin-top: 120px;
  }
  .footerContainer {
    flex-direction: column;
  }
}
