.productCards {
  max-width: 1000px;
  margin: 30px auto;
  margin-top: 50px;
}

.productCards__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.productCards__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
}

.searchBar {
  text-align: end;
  margin-bottom: 10px;
}

.pages {
  margin-top: 40px;
  display: flex;

  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 20px;
}

@media (max-width: 440px) {
  .productCards__container {
    display: block;
  }
}
