.navbar {
  background-color: rgb(47, 174, 30);
  color: white;

  height: 75px;
  padding: 0 30px;
}

.navbar__items {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar__logo img {
  /* width: 60px; */
  height: 60px;
  padding: 7.5px 0;
  cursor: pointer;
}

.navbar__hamburger,
.navbar__mobileMenu {
  display: none;
}

.navbar__itemLinks {
  list-style: none;
  line-height: 43px;
  cursor: pointer;
}

@media screen and (max-width: 440px) {
  .navbar {
    padding: 0 10px;
  }

  .navbar__itemLinks {
    display: none;
  }

  .navbar__hamburger {
    display: block;
    padding: 12.5px 5px;
  }

  .navbar__mobileMenu {
    display: block;
    padding: 10px 15px;
    width: 150px;
    position: absolute;
    top: 68px;
    transition: right 0.65s ease;
    background-color: rgb(47, 174, 30);
    border-bottom-left-radius: 10px;
  }
  .navbar__mobileMenu li {
    display: block;
    padding-bottom: 8px;
    font-weight: 600;
  }
}
