.menuItem {
  display: inline-block;
  position: relative;
  line-height: 33px;
}

.menuItem:not(:last-child) {
  margin-right: 20px;
}

.downArrowIcon {
  position: relative;
  top: 6px;
  left: -5px;
}
