.menuItem {
  display: inline-block;
  position: relative;
  line-height: 33px;
  color: white;
}

.menuItem {
  margin-right: 20px;
}

.menuItem:last-child {
  font-size: 18px;
}

.downArrowIcon {
  position: relative;
  top: 6px;
  left: -5px;
}
